  
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')
  ('tt1000001', 'Rough Crossings', 'Drama', '2007')
  ('tt1000003', 'Say Goodnight Dick!', 'Adult', '2007')
  ('tt1000004', 'Seduced by a Cougar 2', 'Adult', '2007')
  ('tt1000005', 'Share My Cock! 5', 'Adult', '2007')



